.nav-link {
  color: white;
}

.banner {
  background-image: url('../img/banner.png');
  background-size: cover;
  min-height: 100vh;
}

.overlap-container {
  position: relative;
  top: -70px;
  z-index: 10;
}

.cards {
  background-color: #FFFFFFB2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 60px 0 60px 0;
}

.about-imagens {
  position: relative;
}

.about-imagens .img-1 {
  display: block;
}

.about-imagens .img-2 {
  position: absolute;
  bottom: -20px;
  right: 5px;
}
